th{
    text-align: inherit;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #6E6893;
}
.th_tr_r{
    text-align: end
}
.tabel{
    border-radius: 0 0 50px 50px;
    max-width: 1300px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}
.header_tabel{
    align-items: center;
    justify-content: space-between;
    height: 79px;
    display: flex;
    padding: 20px 40px;
}
.tbhead{
    background: #F4F2FF;
}

tr{
    height: 61px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #6E6893;
}

table{
    border-spacing: 0px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
}



.headcheckbox{
    width: 100px;
    text-align: center;
    position: relative; 
}
tr th td {
    border: 1px solid;
}
input[type="checkbox"] {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="checkbox"] + span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #8B83BA;
    border-radius: 7px;
}

input[type="checkbox"]:checked + span {
    background-color: #5639ff91;
    box-shadow: 0px 0px 15px rgba(86, 57, 255, 0.6);
}

.tbbodylist td {
    border-bottom: 1px solid #D9D5EC;
}

.filter{
    display: flex;
    align-items: center;
    border: 1px solid #6D5BD0;
    height: 45px;
    width: 100px;
    border-radius: 15px;
    justify-content: center;
}

.btbt>p{
    font-size: 16px;
    color: #FFFFFF;
    }

.btbt{
    height: 45px;
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: center;
    border-radius: 15px;
}
.exexcel{
    background: #00bf84;
}
.addproduct{
    cursor: pointer;
    margin-left: 15px;
    background: #6D5BD0;
}
.contro{
    padding: 0px 30px;
    max-width: 185px;
    display: flex;
    align-items: center;
}

.contro>p.a{
    background: var(--background, #ECEFFC);
    color: #646B8C;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 12px;
    margin-left: 10px;
    line-height: 17px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
}

.contro>p.b{
    -webkit-appearance: none;
    background: #f75d59;
    color: #ECEFFC;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 12px;
    margin-left: 10px;
    line-height: 17px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
}


.bottomtbl{
    background: #F4F2FF;
}
tr.tbbodylist {
    height: 57px;
}
.bottomtbl {
    border-radius: 0 0  20px 20px;
    height: 50px;
}

.sssss {
    overflow-y: auto;
    height: 600px;
    width: 100%;

}
.sssss th {
    box-shadow: 4px 0px 5px rgba(0, 0, 0,0.55);
    z-index: 1;
    text-align: left;
    top: 0;
    position: sticky;
   background-color: #F4F2FF; 
   
}
th.headcheckbox {
  
    text-align: center;
}
th.th_tr_r {
    text-align: end;
}

.sssss::-webkit-scrollbar {
    border: 1px solid #8900d612;
}

